<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <head class="">Estilo do boostrap</head>
    <button class="btn btn-success">botão</button>
</body>
<%- include ('partials/footer.ejs') %>
